/*basic css for transformation*/

.main {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.sidenav.active ~ .main {
    z-index: 100;
    width: calc(100% - 300px);
    left: 300px;
}