/*basic css for transformation*/

.main {
    position: absolute;
    height: 100vh;
    width: calc(80%);
    left: 20%;
    transition: all 0.5s ease;
    padding: 10px 0;
    background-color: #f3f3f3;
    overflow-y: scroll;
    margin: 0;
}

/*.sidenav.active ~ .main {*/
/*    z-index: 100;*/
/*    width: calc(100% - 300px);*/
/*    left: 300px;*/
/*}*/