.profile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
"profile stats "
"profile table"
"profile table";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    height: 100%;
padding: 0 10px;
}

.profile-container > div {
    box-shadow: 0 0 10px #e1e5ee;
    padding: 20px;
    border-radius: 12px;
}

.profile{
    grid-area: profile;
    height: 100%;
}
.stats{
    grid-area: stats;
}
.table{
    grid-area: table;
}
