.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .625rem;
    width: 100%;
}

.CC-donation-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    gap: 1.5rem;
    /*height: 9.5rem;*/
    position: relative;
}

.CC-donation-card:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.CC-donation-header{
    display: flex;
    justify-content: space-between;
}

.CC-donation-details{
    margin-top: .5rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding : .8rem .625rem;
}

.CC-donation-details > p > span {
    font-weight: 700;
}

.CC-donation-btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: .5rem 0 0;
}

.CC-donation-note{
    font-size: 0.8rem;
    padding : 0 .625rem;
    height: 2.5rem;
}

.CC-donation-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 4px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.color-danger-font-point9rem {
    color : var(--danger-color);
    font-size: 0.9rem;
}

.color-secondary-font-point9rem {
    color: var(--secondary-color);
    font-size: 0.9rem;
}

.font-point8rem {
    font-size: 0.8rem;
}