.posted-rq-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-gap: 20px;*/
    /*padding: 0 20px;*/
}


.posted-rq-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    gap: 0.1rem;
    /*height: 12.5rem;*/
    position: relative;
    display: flex;
    flex-direction: column;
}

.posted-rq-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


.posted-rq-card-header {
    display: flex;
    justify-content: space-between;
}

.posted-rq-card-approval {
    font-size: 0.8rem;
}

.posted-rq-card-approval > strong {
    font-weight: 600;
    color: var(--danger-color);
}

.posted-rq-approval > p {
    color: crimson;
}

.posted-rq-card-info {
    font-size: 0.9rem;
    padding: 0.8rem 0.2rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
}

.description {
    height: 5rem;
}

.accepted-info {
    width: 80%;
    align-self: center;
    justify-content: center;
}


/********Card format*******/

/*<div class="rq-card" id="......">*/

/*<div class="rq-card-header">*/
/*<h2>Children clothes</h2>*/
/*<p class="rq-card-approval"> <strong>Approval : </strong> pending </p>*/
/*</div>*/

/*<div class="rq-card-info">*/
/*<p><strong>Amount : </strong> 10 items </p>*/
/*<p><strong>Posted date : </strong> 2021-04-30 </p>*/
/*</div>*/

/*<div class="rq-card-info">*/
/*<p><strong>Urgency : </strong> Urgent </p>*/
/*<p><strong>Visible until : </strong> 2021-05-30 </p>*/
/*</div>*/

/*<div class="rq-card-info  description">*/
/*<p>sometthing sometthing sometthing sometthing sometthing sometthing sometthing sometthing</p>*/
/*</div>*/

/*<div class="rq-card-info accepted-info">*/
/*<p><strong> 2 users </strong>have accepted 8 items. Check under accepted page for more info </p>*/
/*</div>*/
/*</div>*/