.flash-message-div {
    position: absolute;
    z-index: 1000;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 20vw;
    /*padding: 0.5rem;*/
}

.flash-msg {
    position: relative;
    background-color: #f2dede;
    color: #a94442;
    padding: 1.2rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    max-width: 20vw;
}

.flash-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #1a1a1a;
    font-size: 0.8rem;
}


.flash-messageIn {
    animation: flash-messageIn 0.5s ease-in-out forwards;
}

.flash-messageOut {
    animation: flash-messageOut 0.5s ease-in-out forwards;
}

.flash-messageDown {
    animation: flash-messageDown 0.3s ease-in-out forwards;
}

@keyframes flash-messageIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    75% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes flash-messageOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    25% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes flash-messageDown {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(100%);
        opacity: 1;
    }
}