.profile-page-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

/*!* Header that contains the back to dashboard button and the notification div*!*/
/*.page-header-div {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

.profile-picture img {
    width: 100px;
    border-radius: 100%;
}

.dashboard-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-content-top {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.profile-name {
    text-align: center;
}

.profile-position {
    color: #9b9b9b;
    font-weight: 200;
    text-align: center;
}

.profile-btns {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

label {
    margin-top: 10px !important;
}

#address-line-2 {
    margin-top: 4px;
}

/*.profile-picture {*/
/*    display: flex;*/
/*    -justify-content: center;*/
/*    width: 100%;*/
/*}*/

/*img {*/
/*    width: 100px;*/
/*    border-radius: 50%;*/
/*}*/

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
"profile chart1 chart1"
"profile donations events"
"profile donations events";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    height: 100%;
}

.parent>div{

    padding: 20px;
    border-radius: 12px;
}

.profile-div {
    grid-area: profile;
}

.chart-div-1 {
    grid-area: chart1;
}


.div4 {
    grid-area: donations;
}

.div5 {
    grid-area: events;
}


.chart-div-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.stat-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-block p:nth-child(1) {
    font-size: 72px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.stat-block p i {
    font-size: 48px;
}

.stat-block p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
}

.positive p:nth-child(1), .positive i {
    color: var(--secondary-color);
}

.negative p:nth-child(1), .negative i {
    color: var(--danger-color);
}





