.background{
    background-image: url(/CommuSupport/public/src/login/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget-div{
    background-color: white;
}