input:disabled {
    outline: none;
    border: none;
}

.profile-container > div {
    border-radius: 12px;
    background-color: white;
}

.profile-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 0 10px;
    height: 100%;
}


.req {
    grid-area: 1 / 1 / 3 / 3;
}

.donation {
    grid-area: 1 / 3 / 3 / 5;
}

.event {
    grid-area: 1 / 5 / 3 / 7;
}

.profile-block {
    grid-area: 3 / 1 / 7 / 4;
}

.user-activity {
    grid-area: 3 / 4 / 7 / 7;
}

.stat-card {
    border-radius: 0.5rem;
    background-color: white;
    padding:  20px;
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
}

.stat-card:hover{
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.1); /* green box shadow */

}

.stat-card.req{
    /*border-left: #00c615 10px solid;*/
}

.stat-title {
    font-size:1rem;
    font-weight: 600;
    color: #707070;
}

.main-val p{
    color: var(--secondary-color);
    font-size: 8rem;
    font-weight: 500;
}

.stat-value{
    color: #1a1a1a;
    font-weight: 500;
}


.sec-val p{
    font-size: 3rem;
    font-weight: 500;

    color: var(--secondary-color);
}


.stat-value > div {
background-color: #00c615;
}


.main-stat { grid-area: 1 / 1 / 3 / 2; }
.first { grid-area: 1 / 2 / 2 / 3; }
.second { grid-area: 2 / 2 / 3 / 3; }



/*.stat-movement {*/
/*    position: absolute;*/
/*    display: flex;*/
/*    bottom: 20px;*/
/*    right: 20px;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: flex-end;*/
/*    font-weight: bold;*/
/*    font-size: 1.5rem;*/
/*}*/

/*.dec {*/
/*    color: #b43636;*/
/*}*/

/*.inc {*/
/*    color: #2ba62b;*/
/*}*/

.stat-icon {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.stat-icon i {
    color: white;
    font-size: 2.5rem;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img {
    width: 80px;
    height: 80px;
    background-color: #00b705;
    border-radius: 50%;
}


.user-activity p {
    padding: 20px 0;
    height: 60px;
    font-size: 1.2rem;
    font-weight: 500;

}

.activity-scroller {
    height: calc(100% - 60px);
    overflow: auto;
}


.activity-card {
    margin-top: 10px;
    height: 80px;
    background-color: #dcffe0;
    border-radius: 14px;
}

.profile-block {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-div {
    position: absolute;
    top: 20px;
    right: 20px;
}