input:disabled {
    outline: none;
    border: none;
}

.profile-container > div {
    border-radius: 12px;
}

.profile-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 0 10px;
    height: 100%;
}


/*.req {*/
/*    grid-area: 1 / 1 / 3 / 3;*/
/*}*/

/*.donation {*/
/*    grid-area: 1 / 3 / 3 / 5;*/
/*}*/

/*.event {*/
/*    grid-area: 1 / 5 / 3 / 7;*/
/*}*/

.stat-card-container{
    grid-area: 1 / 1/ 3 / 7;
}
.profile-block {
    grid-area: 3 / 1 / 7 / 4;
}

.user-activity {
    grid-area: 3 / 4 / 7 / 7;
}

.stat-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    gap: 10px;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img {
    width: 80px;
    height: 80px;
    background-color: #00b705;
    border-radius: 50%;
}


.user-activity p {
    padding: 20px 0;
    height: 60px;
    font-size: 1.2rem;
    font-weight: 500;

}

.activity-scroller {
    height: calc(100% - 60px);
    overflow: auto;
}


.activity-card {
    margin-top: 10px;
    height: 80px;
    background-color: #dcffe0;
    border-radius: 14px;
}

.profile-block {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-div {
    position: absolute;
    top: 20px;
    right: 20px;
}

.stat-card .stat-movement i{
    font-size: 3rem;
}