@import url('https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800,900&display=swap');

:root {
    --primary-color: #1a1a1a;
    --secondary-color: #00d776;
    --danger-color: #e10000;
    --light-red: #ff9898;
    --background-main: #e8e8e8;
    --light: #a6a6a6;
    --light-green: #95c7b2;
    --super-light: #eaeaea;
    --secondary-dark: #00832f;

}

* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.background{
    background-image: url(/CommuSupport/public/src/login/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-1
{
    display: grid;
    background: white;
    padding: 40px 60px;
    border-radius: 12px;
    position: relative;
}

button{
    width: 100%;
}

.back-to-login{
    position: absolute;
    top: 10px;
    left: 20px;
}



