
.background{
    background-image: url(../../src/login/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-forget-pw{
    display: grid;
    background-color: white;
    /*padding: 40px 60px;*/
    border-radius: 12px;
    position: relative;
    width: 100px;
}

button{
    width: 100%;
}

.back-to-login{
    position: absolute;
    top: 10px;
    left: 20px;
}

.grid-background{
    padding: 20px;
    width: 400px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.grid-background>div{
    background-color: white;
    border-radius: 12px;
}

.grid-background p{
    font-size: 0.8rem;
}

.grid-background h3{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.forget-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.logout-icon-div {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0;
}

.logout-icon-div div, .logout-icon-div form {
    padding: 0 20px;
    display: flex;
}

.logout-icon-div i {
    font-size: 1rem;
    padding: 2px;;
}

.logout-icon-div input {
    border: none;
    background-color: white;
    align-self: center;
}

.logout-icon-div input:hover {
    cursor: pointer;
}
